@model mvc_02Stock.DataModel.Categories

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Silmek istiyor musunuz ?</h3>
<fieldset>
    <legend>Categories</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Sil" /> |
        @Html.ActionLink("Geri Dön", "Index")
    </p>
}
